body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: black;
    width:100%;
}

.flex {
    display:flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

header {
    background: red;
    padding: 1% 1%;
}

#weapon-buttons-container {
    background:green;
    width: 100%;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.weapon-btn {
    width:7rem;
    height: 7rem;
    border-radius: 50%;
    margin:1%;
}

.submit-btn {
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    background: red;
}

#rock-image {
    background-image: url("/assets/images/rock.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#paper-image {
    background-image: url("/assets/images/paper.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#scissors-image {
    background-image: url("/assets/images/scissors.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#lizard-image {
    background-image: url("/assets/images/lizard.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* https://www.anyrgb.com/en-clipart-pnj4g */
#spock-image {
    background-image: url("/assets/images/spock.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}